/* Navbar.css */
body {
  margin: 0;
}

.navbar {
  background-color: #D9D9D9;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.brand {
  color: #000;
  text-align: center;
  font-family: Inika;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  color: #000;
  text-align: center;
  font-family: Inika;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;

  align-items: center;
  flex-grow: 1;
  /* Hace que los elementos ocupen el espacio disponible */
  justify-content: space-around;
  /* Distribuye el espacio entre los elementos */
}

.nav-links a {
  color: #000;
  margin: 0 15px;
}

.mobile-menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  /* Se oculta en pantallas grandes */
}