/* Navbar.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #ae6e6e;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #be4848;
    margin: 0 15px;
  }
  
  .mobile-menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* Se oculta en pantallas grandes */
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Se oculta en pantallas pequeñas */
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(91, 90, 90, 0.1);
    }
  
    .nav-links.mobile-menu-open {
      display: flex;
    }
  
    .mobile-menu-icon {
      display: block; /* Se muestra en pantallas pequeñas */
    }
  }
  